<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/add_style.css" />
</head>

<body>
    <header>
        <div class="btn"><span></span><span></span><span></span></div>
        <nav id="menu">
            <form action="" method="post">
                <div>
                    <input type="text" name="tag-add" placeholder="タグを入力" class="textbox" id="tag-add">
                    <input type="submit" value="追加" class="btn-submit" name="htag">
                    <button type="button" id="ai-submit" class="btn-submit-ai" name="atag">AI</button>
                </div>
            </form>
            <ul>
                <li name="hp"><a href="./">HOME</a></li>
                <li class="tag-btn">
                    <div class="tag-label">
                        <a href="#">TAG</a>
                        <div class="open-close"><span></span><span></span></div>
                    </div>
                    <ul class="tag-list">
                        <li><a href="#">Tag 1</a></li>
                        <li><a href="#">Tag 2</a></li>
                        <li><a href="#">Tag 3</a></li>
                    </ul>
                </li>
                <li class="tag-btn-ai">
                    <div class="tag-label-ai">
                        <a href="#">AI-TAG</a>
                        <div class="open-close-ai"><span></span><span></span></div>
                    </div>
                    <ul class="tag-list-ai">
                        <li><a href="#">Tag 1</a></li>
                        <li><a href="#">Tag 2</a></li>
                        <li><a href="#">Tag 3</a></li>
                    </ul>
                </li>
                <li name="logout"><a href="./login">LOGOUT</a></li>
                <li name="delete"><a href="#">Account delete</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="centered">
            <h2>今日のやることリスト</h2>
            <p class="todo-description">今日中に終わらせたいタスクをまとめたリスト
                <button class="fav-btn" name="like">★</button>
            </p>
            <ul class="todo-list">
                <li>
                    メールを確認する<br>
                    プロジェクトの進捗を確認する<br>
                    ミーティングの準備をする<br>
                    買い物に行く<br>
                    日記を書く<br>
                </li>
            </ul>
            <p class="todo-description">今日中に終わらせたいタスクをまとめたリスト
                <button class="fav-btn" name="like">★</button>
            </p>
            <ul class="todo-list">
                <li>
                    メールを確認する<br>
                    プロジェクトの進捗を確認する<br>
                    ミーティングの準備をする<br>
                    買い物に行く<br>
                    日記を書く<br>
                </li>
            </ul>
            <p class="todo-description">今日中に終わらせたいタスクをまとめたリスト
                <button class="fav-btn" name="like">★</button>
            </p>
            <ul class="todo-list">
                <li>
                    メールを確認する<br>
                    プロジェクトの進捗を確認する<br>
                    ミーティングの準備をする<br>
                    買い物に行く<br>
                    日記を書く<br>
                </li>
            </ul>
            <p class="todo-description">今日中に終わらせたいタスクをまとめたリスト
                <button class="fav-btn" name="like">★</button>
            </p>
            <ul class="todo-list">
                <li>
                    メールを確認する<br>
                    プロジェクトの進捗を確認する<br>
                    ミーティングの準備をする<br>
                    買い物に行く<br>
                    日記を書く<br>
                </li>
            </ul>
            <p class="todo-description">今日中に終わらせたいタスクをまとめたリスト
                <button class="fav-btn" name="like">★</button>
            </p>
            <ul class="todo-list">
                <li>
                    メールを確認する<br>
                    プロジェクトの進捗を確認する<br>
                    ミーティングの準備をする<br>
                    買い物に行く<br>
                    日記を書く<br>
                </li>
            </ul>
            <div class="page-btn">
                <button id="back-btn" class="nextback-btn" name="next">back</button>
                <button id="next-btn" class="nextback-btn" name="back">next</button>
            </div>

        </section>
    </main>



    <script src="/javascripts/add_pagemove.js"></script>
</body>

</html>